{% extends 'base.html.twig' %}
{% block title %}Toutes nos Annonces{% endblock %}

	{% block body %}
		<div class="container-fluid p-5">
{# Texte d'intro #}
		<div mb-1 solid>
			<h1>Toutes nos annonces</h1>
			<p>Venez découvrir nos plus belle villa de la côte d'Azur !</p>
<hr>
		</div>


{# Annonces *2 #}
		
			<div class="pt-2">
				<h3>Nos annonces Prestiges</h3>	
				<div class="row">
					{% for i in 0..1 %}
		<div class="col-6">
						<img src="https://via.placeholder.com/400x150" class="card-img-top" alt="image">
						<div class="card-body">
							<h5 class="card-title">Villa 23 pièces</h5>
							<p class="card-text">Villa de luxe de plus de 300m², terrain de 2000m² avec piscine et pool house, terrain de tennis et un garage pour 7 voitures</p>
						
							<div class="d-flex justify-content-between align-items-center">
								<div class="btn-group">
										<button type="button" class="btn btn-sm btn-outline-secondary">Voir</button>
								</div>
							</div>
						</div>
					</div>
				{% endfor %}
				</div>
<hr>


{# Annonces *3 #}
				<div class="pt-2">
					<h3>Toutes nos annonces</h3>
						<div class="row">
					{% for ad in ads %}
							{% include ('ad/_ad.html.twig') %}
				{% endfor %}
				</div>
			</div>
					
					
  




</div>
{% endblock %}